@(computerForm: Form[Computer], companies: Seq[(String, String)])(implicit requestHeader: MessagesRequestHeader)

@import views.html.helper._

@main {
    
    <h1>Add An Item</h1>
    
    @form(routes.HomeController.save()) {

        <fieldset>
            @CSRF.formField
            @inputText(computerForm("name"), '_label -> "Item name", '_help -> "")
            @inputText(computerForm("win"), '_label -> "Wins", '_help -> "", 'type -> "number")
            @inputText(computerForm("loss"), '_label -> "Loss", '_help -> "", 'type -> "number")

            @select(
                computerForm("company"), 
                companies, 
                '_label -> "Company", '_default -> "-- Choose a company --",
                '_showConstraints -> false
            )
        </fieldset>

        <p>Dates are in yyyy-MM-dd format</p>
        
        <div class="actions">
            <input type="submit" value="Create Item" class="btn primary"> or
            <a href="@routes.HomeController.list()" class="btn">Cancel</a>
        </div>
        
    }
    
}
