@(id: Long, computerForm: Form[Computer], companies : Seq[(String, String)])(implicit requestHeader: MessagesRequestHeader)

@import views.html.helper._

@main {
    
    <h1>Edit Item</h1>
    
    @form(routes.HomeController.update(id)) {
            @CSRF.formField
            @inputText(computerForm("name"), '_label -> "Item name", '_help -> "")
            @select(
                computerForm("company"), 
                companies, 
                '_label -> "Game Status", '_default -> "-- Choose Game Status --",
                '_showConstraints -> false
            )
        </fieldset>
        @inputText(computerForm("win"), '_label -> "Win", '_help -> "",'type -> "number")
        @inputText(computerForm("loss"), '_label -> "Loss", '_help -> "" ,'type -> "number")


        <div class="actions">
            <input type="submit" value="Update Item" class="btn primary"> or
            <a href="@routes.HomeController.list()" class="btn">Cancel</a>
        </div>

        <fieldset>
        
    }
    
    @form(routes.HomeController.delete(id), 'class -> "topRight") {
        @CSRF.formField
        <input type="submit" value="Delete this computer" class="btn danger">
    }
}
