@(content: Html)(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <title>QA Cinema</title>
        <link rel="icon" href="https://media.giphy.com/media/l1J9uDJb8mT4wph16/giphy.gif"/>
        <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
        <link rel='stylesheet' href='@routes.Assets.at("lib/font-awesome/css/font-awesome.min.css")'>
        
        <script src="@routes.Assets.at("lib/jquery/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>

    </head>
    <body>

        <header class="topbar">
            <h1 class="fill" id="header-title">
                <img width="50" height="40" src="https://www.axelos.com/Corporate/media/Images/Website%20Assets/Strategic%20ATO%20Logos/QA-Limited-Logo.gif?width=924&height=650&ext=.gif"/>
                <a href="@routes.HomeController.index()">
                    QA Cinema
                </a>
                <div class="topnav">
                <a class="active" href="/">Home</a>
                <a href="/item/new">Add New Item</a>
                <a href="/aboutus">About</a>
            </div>
            </h1>
        </header>

        <section id="main">
            @content
        </section>

        <footer class="bottombar">
            <h1 class="fill" id="header-title">
                <a href="@routes.HomeController.index()">
                    QA Cinema
                </a>
            </h1>
        </footer>

    </body>
</html>
